<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>NSWidgetWantsLocation</key>
	<false/>
	<key>NSWidgetAllowsEditing</key>
	<false/>
	<key>NSWidgetDisplayMode</key>
	<string>NextWaveWidget</string>
	<key>WKApplication</key>
	<true/>
	<key>WKBackgroundModes</key>
	<array>
		<string>complication</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Next Wave</string>
	<key>CFBundleIdentifier</key>
	<string>com.federi.Next-Wave.NextWaveWidget</string>
	<key>CFBundleName</key>
	<string>NextWaveWidget</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>2.8.4</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtensionAttributes</key>
	<dict>
		<key>IntentsSupported</key>
		<array>
			<string>com.apple.widgetkit-extension</string>
		</array>
	</dict>
	<key>WKCompanionAppBundleIdentifier</key>
	<string>com.federi.Next-Wave</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.4</string>
</dict>
</plist>
