<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Next Wave</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).ShareViewController</string>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>SUBQUERY (
				extensionItems, $extensionItem,
				SUBQUERY (
					$extensionItem.attachments, $attachment,
					ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "com.topografix.gpx"
					OR ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.xml"
				).@count == 1
			).@count == 1</string>
		</dict>
	</dict>
</dict>
</plist>
